<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!--
            The web view reads nothing but the files of this application, so
            it has no address to check against the lists of Safe Browsing,
            which spares it from asking Google for them. The metrics it would
            report are turned off as well: the viewer sends nothing anywhere.
            The application asks for no permission at all, INTERNET included,
            so the system refuses a connection even if one were tried.
        -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".ViewerActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- The nine types of the OpenDocument format. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-flat-xml" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-flat-xml" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-flat-xml" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />
            </intent-filter>
        </activity>
    </application>
</manifest>
